<?xml version="1.0" encoding="UTF-8"?>

<PropertyList>
  <menu n="128">
    <label>F-104</label>
    <enabled type="bool">true</enabled>
    <item>
      <label>Engine Control</label>
      <binding>
        <command>dialog-show</command>
        <dialog-name>enginestart</dialog-name>
      </binding>
    </item>

    <item>
      <label>Electrical system</label>
      <binding>
        <command>dialog-show</command>
        <dialog-name>electrical</dialog-name>
      </binding>
    </item>

    <item>
      <label>TacView Control</label>
      <binding>
        <command>dialog-show</command>
        <dialog-name>tacview</dialog-name>
      </binding>
    </item>

    <item>
      <label>Combat Log (Not functional)</label>
      <binding>
        <command>dialog-show</command>
        <dialog-name>combatlog</dialog-name>
      </binding>
    </item>

    <item>
      <label>DevTest Panel</label>
      <binding>
        <command>dialog-show</command>
        <dialog-name>devtest</dialog-name>
      </binding>
    </item>
  </menu>
</PropertyList>
